@import "tailwindcss";

:root {
  /* KFC Palette */
  --background: #ffffff;
  --foreground: #1c1c1c;
  --kfc-red: #E4002B;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}